body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#you{
  justify-content: flex-start;
}
#y{
  background-color: yellow;
  padding: 10px;
  border-radius: 5%;
  color: black;
}

 #other{
  justify-content: flex-end;
}
#b{
  background-color: blue;
  padding: 10px;
  border-radius: 5%;
}
